{% load static%}
 <!-- footer -->
 <div class="container-fluid py-5" style="background-color: black;">

    <footer class="footer-20192">
        <div class="site-section">
            <div class="container">


                <div class="row">

                    <div class="col-sm py-5">
                        <p class="p-footer white">Created with Proud!</p>
                        <p class="p-footer white">Made in India</p>
                        <p class="p-footer white">&copy; 2023 CompareIt!, Inc</p>
                    </div>
                    <div class="col-sm py-5">
                        <a href="{% url 'index' %}" class="footer-logo"><img src="{% static 'images/default-logo.png' %}" alt="CompareIt" width="100" height="70"></a>

                    </div>

                    <div class="col-md-3 py-5">
                        <h3 class="white">Follow us</h3>
                        <ul class="list-unstyled social form-inline">
                            <li class="ms-3  mx-3"><a class="text-muted"
                                    href="https://www.facebook.com/goutam.patidar.169"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li class="ms-3 mx-3"><a class="text-muted"
                                    href="https://www.instagram.com/patidar_g_/"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                            <li class="ms-3 mx-3"><a class="text-muted"
                                    href="https://twitter.com/GOUTAMP72288166"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li class="ms-3 mx-3"><a class="text-muted"
                                    href="https://www.linkedin.com/in/patidar-goutam-001/"><i
                                        class="fa-brands fa-linkedin"></i></a></li>

                    </div>

                </div>
            </div>
        </div>
    </footer>

</div>